.active {
    background-color: lightgreen;

}


.hidden {
    display: none;
}

#playersBox {
    margin-left: 25%;
}

.boxshadow {
    box-shadow: 25px 25px 15px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 50px;
    padding: 25px;
    margin: 25x;
    font-size: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.button {
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}


.container {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.wizWords {
    font-size: 40px;
    font-style: bold italic;
    padding: 10px;
    color: black;
}

.wizBox {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    display: inline-block;
    background-image: url('/images/Wizard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#resultMessage {
    font-size: 60px;
    color: rgb(151, 21, 129);
    background-color: black;
}